@import url('http://fonts.cdnfonts.com/css/jurassic-park');
@import url('http://fonts.cdnfonts.com/css/avengeance-heroic-avenger');

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.wrap h1{
    font-family: 'Jurassic Park', sans-serif;
    font-size: 60px;
    color: seashell;
    letter-spacing:10px;
}

.wrap h1:active{
    font-family: 'Avengeance Heroic Avenger', sans-serif;
    font-size: 120px;
    color:red;
    letter-spacing:10px;
}



.wrap p{
    font-weight:bold;
}
.wrap2{
    width: 100%;
    background-image: url(../img/fondo.jpg);
    min-height: 300px;;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrap .campo{
    width: 300px;;
    height: 30px;;
    padding-left: 10px;;
    text-transform: uppercase;
    background-image: url(../img/Kevin.webp);
    background-position: right ;
    background-repeat: no-repeat;
    background-size: 40px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 9px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 1px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 9px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 1px;
    
}

.wrap2 .contenido{
    width: 60%;
    margin: auto;
    min-height: 100px;
    background-color: rgba(117, 17, 241, .5);
    padding: 10px;;
    color: seashell;
    text-transform: uppercase;
    
}

.ninja img{
  width: 120px;
}

.ninja img:hover{
    width: 500px;
}



.ninja{
    position: fixed;
    top: 10px;
    right: 10px;
}

.wrap3{
    height: 1200px;

}

.wrap{
    width: 100%;
    margin: auto;
    background-color: rgb(236, 236, 236);
    background-image: url(../img/fondo1.jpg);
    border: 1px solid rgb(112, 112, 112);
    padding: 10px;;
    /* -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 9px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 1px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 9px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 1px; */


    /* -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
     */

    min-height: 300px;
    
   
}


h1{
    color:rgb(255, 0, 0);
}

.color-azul{
    color: rgb(0, 64, 255) !important; 
}

#color-amarillo{
    color:rgb(209, 225, 65);
}
body{
    background-color: #c5a4ec;
    /* background-image: url(https://wallpaperaccess.com/full/138733.jpg); */
    /* background-image: url(https://wallpaperaccess.com/full/138733.jpg); */
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/hip-square.png);
    
    
    background-attachment: fixed;
    background-size:auto;
}
